.contenedor-window {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    z-index: 10;
    top:0;
    left: 0;
    
}

.cerrar-modal:hover{ transform: scale(1.2); cursor: pointer;}